block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/app.css')
        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body


    // prefix
        l - layout
        c - component

    .wrapper
        section.l-section.l-hero.l-hero_mywork


            .c-hero__bg
                img(src="assets/img/backgrounds/AboutPageBg.png")
            .l-hero__container
                img(src="assets/img/blocks/stars.png").c-hero-title-pic
                .c-user
                    img(src="assets/img/blocks/user-image.jpg" alt="").user-information__picture
                    .user-information__name Владимир Вахрушев
                    .user-information__site Личный сайт разработчика
            .l-arrow-down

            ul.c-socials

                - var icons = ['vk', 'github', 'in']

                each icon in icons

                    li.c-socials__item
                        a.c-socials__link
                            svg.c-socials__icon
                                use(xlink:href=`assets/img/sprites/sprite.svg#icons--icons_svg--${icon}`)


        section.l-section.l-about
            .l-about__col.l-about__col_left.l-about__col_left_myworks
                svg(viewBox="0 0 1000 680" preserveAspectRatio="none").c-about__triangle.c-about__triangle_opacity
                    polygon(points="0,0 0,680 1000,680 1000,190")

                .c-section-title.c-section-title_mywork(style="background-image: url('assets/img/blocks/stars2.png')") Мои работы
                .c-block-title Сайт-школы образования
                .c-block-technologies HTML, CSS, JavaScript
                a.c-block-button
                    //svg.c-block-button__chain
                    .c-block-button-chain__text Посетить сайт

            .l-about__col.l-about__col_right
                svg(viewBox="0 0 1000 680" preserveAspectRatio="none").c-about__triangle.c-about__triangle_opacity
                    polygon(points="0,190 0,680 1000,680 1000,0")
                .c-works
                    img(src="assets/img/blocks/works.png").c-works__images
                .c-switcher
                    .c-switcher__darker
                        .c-swithcher__up
                            img(src="assets/img/blocks/up.png").c-switcher__bg
                            .c-switcher__up-arrow
                        .c-switcher__down
                            img(src="assets/img/blocks/down.png").c-switcher__bg
                            .c-switcher__up-arrow.c-switcher__up-arrow_reverce


        section.l-section.l-what-about
            .c-block-what-about
                .c-section-title.c-section-title_whatabout(style="background-image: url('assets/img/blocks/stars3.png')") Что говорят обо мне
                .c-feetbacks
                    .c-feetbacks__col
                        img(src="assets/img/blocks/dima.png").c-feetbacks__photo
                        .c-feetbacks__text lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
                        .c-feetbacks__author loremloremloremlorem
                        .c-feetbacks__author-description lorem lorem lorem
                    .c-feetbacks__col
                        img(src="assets/img/blocks/vova.png").c-feetbacks__photo
                        .c-feetbacks__text lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
                        .c-feetbacks__author loremloremloremlorem
                        .c-feetbacks__author-description lorem lorem lorem
                .c-contact-from
                    .c-block-title Связаться со мной
                    form.c-block-form
                        input.c-block-form__name
                        input.c-block-form__email
                        input.c-block-form__message
                        button.c-block-form__send
                        button.c-block-form__clear







            .l-footer-bg

            .l-footer
                .l-footer-main
                    .c-footer-text Этот сайт я сделал в рамках учебы в Лофтскул

                    .c-footer-central
                        ul.c-pages
                            li.c-pages-item
                                a.c-pages-item__link Мои работы
                            li.c-pages-item
                                a.c-pages-item__link Обо мне
                            li.c-pages-item
                                a.c-pages-item__link Блог
                            li.c-pages-item
                                a.c-pages-item__link Аторизация

                        ul.c-socials.c-socials_footer

                            - var icons = ['vk', 'github', 'in']

                            each icon in icons

                                li.c-socials__item
                                    a.c-socials__link
                                        svg.c-socials__icon
                                            use(xlink:href=`assets/img/sprites/sprite.svg#icons--icons_svg--${icon}`)




                    ul.c-contacts-itmes
                        li.c-contacts-itmem Skype
                        li.c-contacts-itmem email
                        li.c-contacts-itmem telephone
                        li.c-contacts-itmem Address


                    ul.c-socials
                        li.c-socials__item
                            a.c-socials__link
                .l-footer-copyright Владимир Астахов





    block content
