.c-contact-from {
  width: 360px;
  height: 450px;
  background-color: #ffffff;

}


.c-block-form {
  height: 330px;
  width: 100%;
}

.c-block-form__name {
  width:100%;
}

.c-block-form__email {
  width:100%;
}

.c-block-form__message {
  width:100%;
  height: 100px;
}

.c-block-form__send {
  display: inline-block;
  float: left;
  width: 50%;
}

.c-block-form__clear {
  display: inline-block;
  float: left;
  width: 50%;
}