.l-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  //height: 600px;
}

.l-hero_mywork {
  height: 800px;
}


.c-hero__header {
  position: absolute;
  z-index: 999;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.c-hero__video {
  @include centred();
  z-index: 9999;
}

.c-hero__bg {
  @include centred(x);
  width: 100%;
  bottom: 0;
}

.c-hero__bgimg {
  width: 100%;
  height: 100%;
}

.l-hero__container {
  @include centred(y);
  width: 100%;
}


.c-hero-title-pic {
  @include centred();
}

.l-arrow-down {
  top:500px;
  width: 40px;
  height: 40px;
  fill: $textcolor1;
  @include centred(x);
}