.c-section-title {
  font-size: 63px;
  color: $fontcolor;
  text-align: center;
  padding: 20px 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

.c-section-title_mywork {
  position: absolute;
  left: 78%;
  top: -200px;
  z-index: 1;
  color: #ffffff;
}

.c-section-title_whatabout {
  width: 435px;
  margin-top: 40px;

}