.c-section-title {
  font-size: 63px;
  color: $fontcolor;
  text-align: center;
  padding: 20px 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

