.c-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-user__picture {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
}

.c-user__name {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 28px;
  line-height: 34px;
}

.c-user__site {
  font-weight: 100;
  color: #ffffff;
}

.c-user_autorisation {
  text-align: center;
  margin-top: 40px;
}

.c-user-welcome {
  margin-top: 40px;
}