//colours

$textcolor1: #ffffff;
$white: #f2f0e8;
$red: #f4f5f0;
$fontcolor: #474b57;
$tire: black;
$cristal: rgba(28, 31, 41, 0.5);
$buttoncolor: #1c3563;





@import "helpers/mixins";

@import "layouts/setups";
//@import "layouts/fonts";

@import "blocks/**/*.scss";



html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
