block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='/assets/css/app.css')
        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body


    // prefix
        l - layout
        c - component

    .wrapper
        section.l-section.l-hero


            .c-hero__bg
                img(src="assets/img/backgrounds/AboutPageBg.png")
            .l-hero__container
                img(src="assets/img/blocks/stars.png").c-hero-title-pic
                .c-user
                    img(src="assets/img/blocks/user-image.jpg" alt="").user-information__picture
                    .user-information__name Владимир Вахрушев
                    .user-information__site Личный сайт разработчика
            .l-arrow-down

            ul.c-socials

                - var icons = ['vk', 'github', 'in']

                each icon in icons

                    li.c-socials__item
                        a.c-socials__link
                            svg.c-socials__icon
                                use(xlink:href=`assets/img/sprites/sprite.svg#icons--icons_svg--${icon}`)


        section.l-section.l-about
            .l-about__col.l-about__col_left
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-about__triangle
                    polygon(points="0,0 0,110 1000,110")

                .c-section-title(style="background-image: url('assets/img/blocks/stars2.png')") Обо мне
                .c-about-me
                    img(src="assets/img/blocks/user-image.jpg").c-about-me__pic
                    .c-block-me__title Кто я
                    .c-block-me__text Интересуют мнения людей которые бросили emmet(и аналоги) ... jade можно использовать Emmet для быстрого набора кода. ... Как сделать многострочный некомпилируемый текст в аттрибутах тега в pug (jade)?.Интересуют мнения людей которые бросили emmet(и аналоги) ... jade можно использовать Emmet для быстрого набора кода. ... Как сделать многострочный некомпилируемый текст в аттрибутах тега в pug (jade)?.Интересуют мнения людей которые бросили emmet(и аналоги) ... jade можно использовать Emmet для быстрого набора кода. ... Как сделать многострочный некомпилируемый текст в аттрибутах тега в pug (jade)?.

            .l-about__col.l-about__col_right
                svg(viewBox="0 0 1000 110" preserveAspectRatio="none").c-about__triangle
                    polygon(points="0,110 1000,110 1000, 0")
                .l-skills
                    .c-block-title ЧЕМ Я МОГУ БЫТЬ ПОЛЕЗЕН
                    .l-skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

                    ul.c-skills-group
                        li.c-skills-group__item
                            .c-skills-group__title Frontend
                            ul.c-skills-list
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title HTML 5
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title CSS3
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title JavaScript

                        li.c-skills-group__item
                            .c-skills-group__title Backend
                            ul.c-skills-list
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title PHP
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title mySQL
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title Noda.js & npm
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title Mongo.db
                        li.c-skills-group__item
                            .c-skills-group__title WorkFlow
                            ul.c-skills-list
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title Git
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title Gulp
                                li.c-skills-list__item
                                    .c-skill
                                        svg.c-skill__circle
                                            circle(cx="50" cy="50" r="40").c-skill__circle-under
                                            circle(cx="50" cy="50" r="40").c-skill__circle-above
                                        .c-skill__title Bower

        section.l-section.l-map
            img(src="assets/img/blocks/map.png").l-map__bg
            .c-contacts
                .c-block-title Контакты
                ul.c-contacts-items
                    - var icons = ['skype', 'envelope', 'phone2', 'map_marker' ]

                    each icon in icons
                         li.c-contacts-item
                             .c-contacts__cycle
                                 svg.c-contacts-item__icon
                                    use(xlink:href=`assets/img/sprites/sprite.svg#icons--icons_svg--${icon}`)

                             .c-contacts-item__text loremloremlorem

            .l-footer-bg

            .l-footer
                .l-footer-main
                    .c-footer-text Этот сайт я сделал в рамках учебы в Лофтскул

                    .c-footer-central
                        ul.c-pages
                            li.c-pages-item
                                a.c-pages-item__link Мои работы
                            li.c-pages-item
                                a.c-pages-item__link Обо мне
                            li.c-pages-item
                                a.c-pages-item__link Блог
                            li.c-pages-item
                                a.c-pages-item__link Аторизация

                        ul.c-socials.c-socials_footer

                            - var icons = ['vk', 'github', 'in']

                            each icon in icons

                                li.c-socials__item
                                    a.c-socials__link
                                        svg.c-socials__icon
                                            use(xlink:href=`assets/img/sprites/sprite.svg#icons--icons_svg--${icon}`)




                    ul.c-contacts-itmes
                        li.c-contacts-itmem Skype
                        li.c-contacts-itmem email
                        li.c-contacts-itmem telephone
                        li.c-contacts-itmem Address


                    ul.c-socials
                        li.c-socials__item
                            a.c-socials__link
                .l-footer-copyright Владимир Астахов





    block content
