extends ../_welcomeAuthorizationTemplate


block welcome-authorization-header
  .l-welcome-authorization-header
    a(href='authorization.html').c-authorization-button Авторизация


block central-block

    .c-user.c-user-welcome
      include ../blocks/user
    include ../blocks/socials

block welcome-authorization-footer
  include ../blocks/copyright

